.vscode/**
.vscode-test/**
node_modules/**
out/**
src/**
test/**
test-web/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/tsconfig.*.json
**/.eslintrc.json
**/*.map
**/*.ts
package-lock.json
pnpm-lock.yaml
bun.lock
scripts/**
server/*/
dist/test-web/**
